html {
	height: 100%;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	overflow: hidden;
	height: 100%;
}

.fps {
	position: absolute;
	top: 20px;   
	right: 20px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: rgba(0, 0, 0, .4);
	padding: 10px 17px;
	text-align: right;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100px;
	text-align: center;
	text-shadow: red 0 0 5px;
}

#loading-img {
	width: 48px;
	height: 96px;
}

#inner {
	width: 100%;
}
